@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #1F2937;
}

p {
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
}

.text-xxs {
    font-size: 0.5rem;
    line-height: 1rem;
}

.blog-content-wrapper {
  max-width: 60rem;
  width: 80%;
}

@keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

  
@media screen and (max-width: 992px) {
  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media screen and (max-width: 480px) {
  .blog-content-wrapper {
    max-width: 18rem;;
  }
}